! Command: show running-config
! device: SW1 (vEOS, EOS-4.17.8M)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname SW1
!
spanning-tree mode mstp
!
no aaa root
!
username admin role network-admin secret sha512 $6$bzt.5njeVG0WAeh9$3ZrCNUnjmC/CZ7uwVxGXZc6Q0cwd.Q7R9nwPpjjJEa0VnQcZBOcayCKfj9gzqlDcsp94FXT1x3i0t1zpy0Pzw1
!
interface Ethernet1
switchport mode trunk
switchport trunk allowed vlan 200
!
interface Ethernet2
switchport mode access
switchport access vlan 200
!
interface Ethernet3
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Ethernet9
!
interface Ethernet10
!
interface Ethernet11
!
interface Ethernet12
!
interface Management1
   mtu 1450
   ip address 172.16.2.10/24
!
ip route 0.0.0.0/0 172.16.2.100
!
no ip routing
!
management api http-commands
   protocol http
   no shutdown
!
!
end
